@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,300&display=swap');


/* Define CSS variables for color scheme */
:root {
  --primary-color: #2B4162;
  --secondary-color: #F2D492;
  --accent-color: #F27348;
}

/* Reset default styles */
* {
  padding: 0; 
  box-sizing: border-box;
}

/* Apply font family to the whole page */
body {
    max-width: none;
    min-height: none;
    font-family: 'Roboto', sans-serif;
  }  

/* Header Styles */
header {
  display: flex;
  justify-content: space-between;
  background-color: var(--primary-color);
  color: white;
  padding: 1rem;
}

nav ul {
  display: flex;
  list-style: none;
}

nav li {
  margin-right: 1rem;
}

nav a {
  color: white;
  text-decoration: none;
  padding: 0.5rem;
}

nav a:hover {
  background-color: var(--secondary-color);
}

/* Main Styles */
main {
  max-width: 1200px;
  margin: 0 auto;
  padding: 2rem;
}

.hero {
  position: relative;
  height: 400px;
  overflow: hidden;
}

.hero img {
  display: block;
    position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
}

.hero h1 {
position: absolute;
top: 50%;
text-align: center;
}

.hero article {
    position: absolute;
    right: inherit 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 1rem;
    background-color: rgba(255, 255, 255, 0.7);
    color: var(--primary-color);
  }  

.hero article img {
  float: right;
  margin-left: 1rem;
}

/* Section Styles */
section {
  margin: 2rem 0;
}

section h2 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

section img {
  max-width: 100%;
  height: auto;
}

/* Footer Styles */
footer {
  background-color: var(--primary-color);
  color: white;
  text-align: center;
  padding: 1rem;
}

footer a {
  display: inline-block;
  margin: 0 1rem;
}

footer a img {
  height: 30px;
  width: 30px;
  opacity: 0.8;
}

footer a img:hover {
opacity: 1;
}

footer p {
margin-top: 1rem;
}