/* Import fonts from Google Fonts API */
@import url('https://fonts.googleapis.com/css2?family=font-name&family=optional-2nd-font-name&display=swap');

/* Define CSS variables */
:root {
  --primary-color: skyblue;
  --secondary-color: #eeeeee;
  --accent1-color: #eeee;
  --accent2-color: #00;

  --heading-font: '______', serif;
  --paragraph-font: '______', serif;

  --nav-background-color: purple;
  --nav-link-color: yellow;
  --nav-hover-link-color: brown;
  --nav-hover-background-color: #00e;
}

/* Body */
body {
  font-family: var(--paragraph-font);
  max-width: 960px;
  padding: 20px;
}

/* Headings */
h2 {
  color: steelblue;
  width: 150px;
  border: 0px solid steelblue;
  padding: 2px;
  box-shadow: 0 0 0px gray;
  float: left;
  margin: 0 0 1rem 1rem;
}
h1, h3, h4, h5, h6 {
  
  font-family: var(--heading-font);
  color: var(--primary-color);
}

/* Header */
header {
  padding: 20px;
  background-color: var(--accent1-color);
}

/* Paragraphs */
p {
  padding: 25px;
}

/* Navigation */
nav {
  background-color: var(--nav-background-color);
  font-size: 1.2rem;
  display: flex;
}

nav a {
  display: block;
  color: var(--nav-link-color);
  text-decoration: none;
  padding: 1rem;
}

nav a:link, nav a:visited {
  color: var(--nav-link-color);
}

nav a:hover {
  color: var(--nav-hover-link-color);
  background-color: var(--nav-hover-background-color);
}
footer {
  margin-top: 1em;
  border-top: 1px solid #000;
  text-align: center;
}
